<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BLACKSPOTDETECTIONPROJECT</display-name>
  <welcome-file-list>
    <welcome-file>loginAdmin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.sneha.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stationlogin</display-name>
    <servlet-name>Stationlogin</servlet-name>
    <servlet-class>com.sneha.Stationlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stationlogin</servlet-name>
    <url-pattern>/Stationlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.sneha.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.sneha.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPolice</display-name>
    <servlet-name>AddPolice</servlet-name>
    <servlet-class>com.sneha.AddPolice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPolice</servlet-name>
    <url-pattern>/AddPolice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addblackspot</display-name>
    <servlet-name>Addblackspot</servlet-name>
    <servlet-class>com.sneha.Addblackspot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addblackspot</servlet-name>
    <url-pattern>/Addblackspot</url-pattern>
  </servlet-mapping>
</web-app>